<div class="article-content">
  <div class="ui grid">
    <div class="four wide column">
      <a class="avatar"
         href="/articles?author={{article.author._id}}"
         data-title="{{article.author.name}} |  {{article.author.gender}}"
         data-content="{{article.author.bio}}">
        <img class="avatar" src="/img/{{article.author.avatar}}">
      </a>
    </div>

    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/articles/{{article._id}}">{{{article.title}}}</a></h3>
        <pre>{{{article.content}}}</pre>
        <div>
          <span class="tag">{{article.created_at}}</span>
          <span class="tag right">
            <span>浏览({{article.pv}})</span>
            <span>留言({{article.commentsCount}})</span>
            
            {{#if user}}
            {{#if article.author._id}}
            {{#if_eq user._id article.author._id }}
              <div class="ui inline dropdown">
                <div class="text"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><a href="/articles/{{../article._id}}/edit">编辑</a></div>
                  <div class="item"><a href="/articles/{{../article._id}}/remove">删除</a></div>
                </div>
              </div>
            {{/if_eq}}
            {{/if}}
            {{/if}}

          </span>
        </div>
      </div>
    </div>
  </div>
</div>