<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal comments">
        <h3 class="ui dividing header">留言</h3>
        
        {{#each comments}}
          <div class="comment">
            <span class="avatar">
              <img src="/img/{{this.author.avatar}}">
            </span>
            <div class="content">
              <a class="author" href="/articles?author={{this.author._id}}">{{this.author.name}}</a>
              <div class="metadata">
                <span class="date">{{this.created_at}}</span>
              </div>
              <div class="text">{{{this.content}}}</div>
              {{#if ../user}}
              {{#if this.author._id}}
              {{#if_eq ../user._id this.author._id }}
                <div class="actions">
                  <a class="reply" href="/articles/{{../../article._id}}/comment/{{../this._id}}/remove">删除</a>
                </div>
              {{/if_eq}}
              {{/if}}
              {{/if}}
            </div>
          </div>
        {{/each}}

        {{#if user}}
          <form class="ui reply form" method="post" action="/articles/{{article._id}}/comment">
            <div class="field">
              <textarea name="content"></textarea>
            </div>
            <input type="submit" class="ui icon button" value="留言" />
          </form>
        {{/if}}

      </div>
    </div>
  </div>
</div>